<div class="wrapper">
    <div class="header"></div>

    <div class="main">
        <h1>Nuestros platos son</h1>
        <div class="cards">
            <div class="card">
                <h2>Variados!</h2>
                <img src="../../assets/img1.jpg" alt="image">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt corrupti aspernatur aut voluptatibus quae beatae, ullam sit facilis commodi officiis possimus doloribus numquam asperiores id sed iure quam, maxime at repellat magni illo natus voluptatum? Iure eveniet earum iste odio nam ut! Dicta corporis earum, at reiciendis assumenda ad officiis?</p>
            </div>
            <div class="card">
                <h2>Saludables!</h2>
                <img src="../../assets/img2.jpg" alt="image">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ex nam nulla, temporibus harum repudiandae eos cupiditate laborum cumque, eum fugiat soluta neque animi, dolor est dicta voluptatibus placeat provident!</p>
            </div>
            <div class="card">
                <h2>Ricos!</h2>
                <img src="../../assets/img3.jpg" alt="image">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro earum sit, reprehenderit quis exercitationem temporibus aspernatur quod consequuntur animi eveniet ratione explicabo perspiciatis incidunt sed perferendis necessitatibus nisi at dicta amet, vero magnam corporis! Architecto reprehenderit repellendus eos perferendis laborum!</p>
            </div>
        </div>
    </div>

    <div class="store">
        <div class="section">
            <h1>¡¡Compra ya!! tenemos delibery</h1>
            <p>Para acceder a nuestra store has <a [routerLink]="['/store']">click aquí</a>, o dirijete a las tres barras de arriba a la izquierda y has click en store.</p>
        </div>
    </div>

    <footer class="footer">
        <p>©Copyright T.M. Los Mejores Platos Company.</p>
    </footer>
</div>